@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); 
body{
  background-color: Aquamarine;
}
.inback {
  background-color: yellow;
}

#titlefont {
  font-size: 80px;
  font-family: 'Bebas Neue', cursive; 
  color: pink;
}

img{
  border: 15px dashed #dddddd;
  margin: 30px;
  padding:2vw;
  border-color: yellow; 
  border-radius: 40%;
}

p{
  border: 3px double;
  border-color: pink;
  
}

p > span {
  color: "MediumSlateBlue";
  font-size: 30px;
  font-family: 'Bebas Neue', cursive; 
}